<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623446818176-84360t6755hdet8pn500egv9j41n93ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623446818176-84360t6755hdet8pn500egv9j41n93ai</string>
	<key>API_KEY</key>
	<string>AIzaSyAj6wXkh79szbXJvpUY3jAjf274Z3L5GvE</string>
	<key>GCM_SENDER_ID</key>
	<string>623446818176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomapp</string>
	<key>PROJECT_ID</key>
	<string>ecomapp-5f3e6</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomapp-5f3e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623446818176:ios:f30b118f2d8a6724501565</string>
</dict>
</plist>